<div id=":1h2" class="ii gt">
    <div id=":1h1" class="a3s aXjCH ">
        <table class="m_-5185101038463095041body" style="border-collapse:separate;width:100%;background-color:#f6f6f6"
               border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="font-family:Arial,sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
                <td class="m_-5185101038463095041container"
                    style="font-family:Arial,sans-serif;font-size:14px;vertical-align:top;display:block;margin:0 auto;max-width:580px;padding:10px;width:580px">
                    <div class="m_-5185101038463095041content"
                         style="box-sizing:border-box;display:block;margin:0 auto;max-width:580px;padding:16px"><span
                            class="m_-5185101038463095041preheader"
                            style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">This is preheader text. Some clients will show this text as a preview.</span>
                        <table class="m_-5185101038463095041main"
                               style="border-collapse:separate;width:100%;background:#ffffff;border-radius:0px">
                            <tbody>
                            <tr>
                                <td class="m_-5185101038463095041wrapper"
                                    style="font-family:Arial,sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px">
                                    <table style="border-collapse:separate;width:100%" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tbody>
                                        <p>
                                            <p style="font-family:Arial,sans-serif;font-size:14px;vertical-align:top">
                                                <img src="https://i.pinimg.com/originals/1d/b4/0d/1db40d18919651ef7f0276ec4a7a2a4a.jpg"
                                                     width="100" height=auto max-width="40" class="CToWUd"> <br><br>
                                                <p style="font-family:Arial,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px">
                                                    <strong>Hello [first name and last name],</strong></p>
                                                <p style="font-family:Arial,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px">
                                                    Thank you for you attempt to subscribe.Try to</p>
                                                <a href="{{ url }}" target="_blank">click right here</a>
                                                <br><br>
                                                <p style="font-family:Arial,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px">
                                                    Regards,<br> The Unemployment Foundation</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="m_-5185101038463095041footer"
                             style="clear:both;margin-top:10px;text-align:left;width:100%">
                            <table style="border-collapse:separate;width:100%" border="0" cellspacing="0"
                                   cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="m_-5185101038463095041content-block"
                                        style="font-family:Arial,sans-serif;vertical-align:top;padding:10px 16px;font-size:12px;color:#999999;text-align:left">
                                        <span class="m_-5185101038463095041apple-link"
                                              style="color:#999999;font-size:12px;text-align:left">This email is sent from an attended mailbox. Replies will be read.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="font-family:Arial,sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="yj6qo"></div>
</div>