{% extends "layout.html" %}
{% block content %}
        <div class="content-section">
          <div class="content-section">
            <h3>Subscribe here</h3>
            <form method="POST" action="">
            {{ form.hidden_tag() }}
             <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.reason.label(class="form-control-label") }}
                    {{ form.reason(class="form-control form-control-lg") }}
                </div>
                 <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                </div>
             </fieldset>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}